In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder
from sklearn.tree import DecisionTreeClassifier
import xgboost as xgb
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report,accuracy_score
import keras
import tensorflow
from keras.layers import *
from keras.models import Sequential
from keras.layers import LSTM, Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Bidirectional,Conv1D, MaxPooling1D, Flatten,GRU, Dense
from tensorflow.keras.utils import to_categorical
from sklearn import svm
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix

In [2]:
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_curve, auc
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_classification

In [3]:
from tensorflow.python.ops.numpy_ops import np_config
np_config.enable_numpy_behavior()

In [4]:
df=pd.read_csv("dataset\Crop_recommendation.csv")

In [5]:
df.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [6]:
df.tail()

        N   P   K  temperature   humidity        ph    rainfall   label
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

In [7]:
df.shape

(2200, 8)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [9]:
df.isnull().any()

N              False
P              False
K              False
temperature    False
humidity       False
ph             False
rainfall       False
label          False
dtype: bool

In [10]:
df.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [11]:
numerical_data=df.select_dtypes(include=[np.number])
categorical_data=df.select_dtypes(exclude=[np.number])

In [12]:
print(categorical_data.shape)

(2200, 1)

In [13]:
for x in categorical_data:
    df[x] = df[x].fillna(df[x].mode()[0])

In [14]:
for x in numerical_data:
    df[x] = df[x].fillna(df[x].median())

In [15]:
enc = OrdinalEncoder()
enc_data = enc.fit_transform(categorical_data)

In [16]:
data_enc  = pd.DataFrame(enc_data, columns=categorical_data.columns)

In [17]:
data_out = pd.concat([data_enc,numerical_data], axis=1)

In [18]:
x=data_out.iloc[:,1:]
y=data_out.iloc[:,0]

In [19]:

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [20]:
xgb_classifier = xgb.XGBClassifier()
xgb_classifier.fit(x_train,y_train)
y_pred=xgb_classifier.predict(x_test)

In [21]:
from sklearn.metrics import classification_report,accuracy_score
xgb_acc = accuracy_score(y_true=y_test, y_pred=y_pred)
print(xgb_acc)

0.9803030303030303

In [22]:
print(x_train)

        N    P    K  temperature   humidity        ph    rainfall
1102   21   26   27    27.003155  47.675254  5.699587   95.851183
1159   29   35   28    28.347161  53.539031  6.967418   90.402604
141    60   44   23    24.794708  70.045567  5.722580   76.728601
1004   80   77   49    26.054330  79.396545  5.519088  113.229737
2      60   55   44    23.004459  82.320763  7.840207  263.964248
...   ...  ...  ...          ...        ...       ...         ...
1638   10    5    5    21.213070  91.353492  7.817846  112.983436
1095  108   94   47    27.359116  84.546250  6.387431   90.812505
1130   11   36   31    27.920633  51.779659  6.475449  100.258567
1294   11  124  204    13.429886  80.066340  6.361141   71.400430
860    32   78   22    23.970814  62.355576  7.007038   53.409060

[1540 rows x 7 columns]

In [25]:
import pandas as pd

# Create an empty DataFrame
data = pd.DataFrame(columns=['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall'])

# Take input from the user
n = float(input("Enter the value for N: "))
p = float(input("Enter the value for P: "))
k = float(input("Enter the value for K: "))
temperature = float(input("Enter the value for temperature: "))
humidity = float(input("Enter the value for humidity: "))
ph = float(input("Enter the value for pH: "))
rainfall = float(input("Enter the value for rainfall: "))

# Append the user input to the DataFrame
data = data.append({'N': n, 'P': p, 'K': k, 'temperature': temperature, 'humidity': humidity, 'ph': ph, 'rainfall': rainfall}, ignore_index=True)

# Convert columns to float data type
data = data.astype(float)

# Print the dataset
print(data)

# Perform prediction using the XGBoost classifier
prediction = xgb_classifier.predict(data)
print(prediction)

Enter the value for N: 30
Enter the value for P: 30
Enter the value for K: 30
Enter the value for temperature: 30
Enter the value for humidity: 30
Enter the value for pH: 7
Enter the value for rainfall: 170
      N     P     K  temperature  humidity   ph  rainfall
0  30.0  30.0  30.0         30.0      30.0  7.0     170.0
[12]

C:\Users\vinay\AppData\Local\Temp\ipykernel_16104\3829023074.py:16: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  data = data.append({'N': n, 'P': p, 'K': k, 'temperature': temperature, 'humidity': humidity, 'ph': ph, 'rainfall': rainfall}, ignore_index=True)

In [26]:
if prediction == 20:
    print("rice")
elif prediction == 11:
    print("maize")
elif prediction == 3:
    print("chickpea")
elif prediction == 9:
    print("kidneybeans")
elif prediction == 18:
    print("pigeonpeas")
elif prediction == 13:
    print("mothbeans")
elif prediction == 14:
    print("mungbean")
elif prediction == 2:
    print("blackgram")
elif prediction == 10:
    print("lentil")
elif prediction == 19:
    print("pomegranate")
elif prediction == 1:
    print("banana")
elif prediction == 12:
    print("mango")
elif prediction == 7:
    print("grapes")
elif prediction == 21:
    print("watermelon")
elif prediction == 15:
    print("muskmelon")
elif prediction == 0:
    print("apple")
elif prediction == 16:
    print("orange")
elif prediction == 17:
    print("papaya")
elif prediction == 4:
    print("coconut")
elif prediction == 6:
    print("cotton")
elif prediction == 8:
    print("jute")
elif prediction == 5:
    print("coffee")
else:
    print("mango")

mango